// fonts
$font-primary: "Montserrat", sans-serif;

// colors
$color-black: #000;
$color-red: #f00c;
$color-white: #fff;

// texts - those variables you can set as css font property value
$text-sm: 500 2.25rem / 2.7425rem $font-primary;
$text-lg: 500 2.625rem / 3.2rem $font-primary;
